body{
    background-color: #3A435C;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
   
}


.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    background: #3A435C;
    box-shadow: 2px 15px 20px 5px rgba(0, 0, 0, 0.25);
    z-index: 99;
    height: 100px;
}

.navbar ul{
    color: rgb(255, 255, 255);
    float: right;
    list-style: none;
    padding: 0px;
    margin-right: 169px;  
   
  
    
}

.navbar ul li{
    display: inline-block;
    margin-left: 100px;
    font-size: 24px;
    margin-top: 0px;
    
}

.hero{
    font-family: Mulish, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: calc(100vh-50px);
    text-align: center;
}

.container h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    color: #B4BEDB(255, 255, 255);
}

.verticalCenter{
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translateY(180%);
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);

}
.mail a{
    color: #FFFFFF;
}

.arrow span {
display: block;
width: 20px;
height: 20px;
border-bottom: 1px solid #FFF;
border-right: 1px solid #FFF;
transform: rotate(45deg);
margin: 10px;
animation:  animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
    
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate{
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.intro{
    
    position: absolute;
    transform: translateY(920%);
    color: #B4BEDB;
    text-transform: inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.h1{
  

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linkovi{
    position: fixed;
    bottom: 90px;
    transform: translateX(230%);
}

.devices-slika{
    width: 100%;
    text-align: center; 
    margin-top: 50px;
}

.button{
   
    width: 100%;
    margin-top: 50px;
    
}

.button a 

{
    height: calc(100vh+30px);
    text-align: center; 
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover
{
    color: #3A435C;
    background: #B4BEDB ;
    box-shadow: 0 0 10px #B4BEDB, 0 0 40px #B4BEDB, 0 0 80px #B4BEDB;
    transition-delay: 1s;
}

a span
{
position: absolute;
display: block;
}

a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#B4BEDB);
}

a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}

a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#B4BEDB);
}

a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#B4BEDB);
}
a:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#B4BEDB);
}
a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.button1 a
    {
    
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #B4BEDB;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }
    a:hover
    {
        color: #3A435C;
        background: #B4BEDB ;
        box-shadow: 0 0 10px #B4BEDB, 0 0 40px #B4BEDB, 0 0 80px #B4BEDB;
        transition-delay: 1s;
    }
    a span
    {
    position: absolute;
    display: block;
    }
    a span:nth-child(1)
    {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(1)
    {
        left: 100%;
        transition: 1s;
    }
    a span:nth-child(3)
    {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(3)
    {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    a span:nth-child(2)
    {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(2)
    {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    a span:nth-child(4)
    {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(4)
    {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }

    .footer{
        margin-top: 150px;
        margin-bottom: 85px;
        box-sizing: border-box;

    }

.contact{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}  
.text{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}

.mail{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    font-weight: 1000;
}
.project_container{
    width: 100%;
    text-align: center;
}
.projects{
    width: 100%;
    max-width: 1050px;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    color: #B4BEDB;
    

    
}    
.box{
    width: 230px;
    margin: 0 20px;
}

.novpr{
    max-width: 1050px;
    width: 100%;
    margin: 150px auto;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;

   
}



.name{
    margin-bottom: 50px;
    font-family: Mulish;
    font-size: 28px;
    line-height: 54px;
    color: white;
    
}
.name1{
    margin-bottom: 50px;
    font-family: Mulish;
    font-size: 54px;
    line-height: 54px;
    color: white;
    
}
.separation-line{
    width: 100px;
    height: 2px;
    margin-bottom: 50px;
    background-color: #B4BEDB;
}
.textdescription{
    font-family: Mulish;
    color: #B4BEDB;
    font-size: 24px;
}
.div10{
    width: 100%;
text-align: center;
max-width: 800px;
}

.div11{
    text-align: center;
    margin: 100px 0 0 30px;
}
.div22{
    text-align: center;
    margin: 50px 0;
}
.div33{
    text-align: center;
    margin: 0 0 0 160px;
}
.div44{
    text-align: center;
    margin: 125px 0;
}

.mail{
    color: white;
}
.title{
    margin: 150px auto;
    text-align: center;
    max-width: 1050px;
    width: 100%;
    font-size: 28px;
}
.naslov{
    max-width: 1050px;
    margin-top: 150px ;
    width: 100%;

}
.process{
    max-width: 1050px;
    margin: 0 auto;
    border: 2px solid #B4BEDB;
    border-radius: 10px;
    width: 165px;
    height: 55px;
    color: #B4BEDB;
    float: left;

}
.methods{
    text-align: center;
    transform: translateY(33%);
}
.naslov{
    max-width: 1050px;
    width: 100%;
    margin: 50px auto;
}

.slika4{
    margin: 0 0 0 43px;
}
.slika3{
    margin: 0 0 0 43px;
}
.slika2{
    margin: 0 0 0 43px;
}
.swotanalysis{
    max-width: 1050px;
    width: 100%;
    margin: 36px auto;
    display: flex;
    flex-direction: row;
    
}
.swot-box{
    
    border: 2px solid #B4BEDB;
    border-radius: 10px;
    width: 50%;
    height: 228px;
    color: #B4BEDB;
    float: left;
    padding: 20px;
   
}




.personi{
float: left;
}
.carousel-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A435C;
}
.carousel{
    
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
    perspective: 500px;
    transform-origin: 0% 50%;
    
   
    
   
}
.carousel .carousel-item{
    width: 1050px;
    
}
.carousel .carousel-item img{
    max-width: 1050px;
  
}

.ui-background{
    background: rgb(58,67,92);
    background: linear-gradient(90deg, rgba(58,67,92,1) 0%, rgba(166,176,205,1) 100%);
    height: 800px;
}


.secondimg{
    margin-left: 475px;
    margin-top: 120px;
}









@media screen and (max-width: 900px) {
    .body{
        margin: 20px;
    }
    #logo {
        height: 53px;
        
    }
    #menu{
    display: none;
    }
    #flow{
       display: none;
    }
    .verticalCenter{
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translateY(120%);
        margin: none;
        font-size: 16px;
       
    }
    #designer {
        margin-right: -100px;
        font-size: 18px;
    }
    #jas{
        font-size: 18px;
    }

    .linkovi{
       
        bottom: 17px;
        transform: translateX(2%);
    }
    
    #kvadrat{
        height: 35px;
    }
   .intro{
       transform: translateY(500px);
        display: none;
   }
   .devices-slika{
       width: 100%;
       max-width: 800px;
       text-align: center;
       padding: 50px;
       box-sizing: border-box;
    }
   
   .navbar{
        text-align: center;
        height: 55px;
    }
    .novpr{
        flex-wrap: wrap;
    }
    #process-box{
        padding: 20px 50px;
    box-sizing: border-box;
    margin: 50px 0;
    }
    .name{
        font-size: 20px;
        margin: 20px;
    }
    .name1{
        font-size: 20px;
        margin: 20px;
    }
    #overviewimg{
        text-align: center;
        margin: 20px;
        width: 80%;
    }
    .separation-line{
        margin: 30px;
        margin-left: 80px;
    }
    .textdescription{
        margin: 20px;
        font-size: 20px;
    }
    #button{
    margin: 0 75px;
    text-align: center;
    }
    #userflow{
        display: none;
    }
    
   .div1{
       margin: 0;
       margin-top: 0;
   }
   .div11{
    margin:  0 20px;
    margin-top: 50px;
}
    
    
    .div22{
        width: 100%;
        max-width: 800px;
        text-align: center;
        padding: 50px;
        box-sizing: border-box;
        margin: 0;
    }
    .div33{
        width: 100%;
        max-width: 800px;
        text-align: center;
        padding: 50px;
        box-sizing: border-box;
        margin: 0;
    }
    .slika1{
        margin: 0 0 0 7px;
        
    }
    .slika4{
        margin: 0 0 0 7px;
    }
    .slika3{
        margin: 0 0 0 7px;
    }
    .slika2{
        margin: 0 0 0 7px;
    }
    .text, .contact, .mail{
        max-width: 300px;
        font-size: 16px;
        letter-spacing: 0.5px;
        box-sizing: border-box;
    }
    .button a{
        font-size: 19px;
        padding: 10px 20px;
    }
    .footer{
        margin-top: 100px;
    }
    .navbar ul li{
        font-size: 19px;
        padding: 10px 20px;
    }

    .projects{
        font-size: 24px;
        margin: 0;
    }

    .naslov{
        max-width: 400px;
        font-size: 20px;
        text-align: left;
        margin: 20px;
    }
    #title{
        font-size: 35px;
        margin-top: 100px;
        
       
    }
    

    .process{
        margin: 5px auto;
        float: none;
        font-size: 20px;
    }
    .swotanalysis{
       flex-wrap: wrap;
      
       width: 100%;
       margin-left: 0;
       margin: 0;
       justify-content: center;
       
       
       
      
    }
    .swot-box{
        width: 80%;
        margin-left: 35px;
        margin-top: 35px;
        margin-right: 35px;
        justify-content: center;
        height: auto;
    }
   
    .swot-text{
        font-size: 18px;
    }
    
   
    #div11img{
        margin-top: 0;
    }

    .personi{
      text-align: center;
    }

    #p1{
        margin-right: 48px;
        
        margin-left: 48px;
    }

    .competitors{
        width: 82%;
    }
 
    #bckimg{
        display: none;
    }
    .ui-background{
        background: rgb(58,67,92);
        background: linear-gradient(0deg, rgba(58,67,92,1) 0%, rgba(166,176,205,1) 100%);
        
    }

    #vidivakabg{
        height: 1400px;
    }

    #learnbg{
        height: 1800px;
        margin-top: 100px;
    }
   
    #h3{
        font-size: 20px;
    }
   
 
    #kit-slikavidivaka1 {
        margin-left: 50px;
       }
    
    #kit-slikavidivaka3 {
        margin-top: 150px;
        margin-right: 255px;
        margin-bottom: 150px;
       }

    #kit-slika1{
        margin: initial;
        margin-left: 50px;
       
        }
     #kit-slika2{
            margin: initial;
       
    
     }
    #kit-slika3{
       
        margin: initial ;
        margin-right: 300px;
        
    }
    #gallery-background{
         height: 1400px;
        
        
    }
    #ui-kitgallery{
        
        margin: none;
       
       
   }
       
}
   

  
    
    
    
  
