body{
    background-color: #3A435C;
}

.container{
  width: 100%; 
  max-width: 1000px;
  margin: 0px;
  margin-left: 196px;
 
  
  
}
.container h4{

    
font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 31px;

color: #FFFFFF;
margin-left: 528px;
}

.container h1{

    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 88px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar{
    font-family: 'Mulish', sans-serif;
}

.navbar ul{
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    float: right;
    margin-top: 0px;
    margin-right: 196px;
}

.navbar ul li{
display: inline-block;
margin-left: 150px;
font-size: 24px;

}



.hero{
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    position: relative;
    margin-top: 398px;
    margin-left: 200px;
   
}


.devices{
   
    position: absolute;

 

}
.button{

    position: absolute;
    width: 401px;
    height: 82px;
    left: 520px;
    top: 1898px;
    
    background: #3A435C;
    box-shadow: 2px 15px 20px 5px rgba(0, 0, 0, 0.25);

    position: absolute;
width: 191px;
height: 30px;
left: 625px;
top: 1924px;


}

