body{
    background-color: #3A435C;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    
   
}

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    background: #3A435C;
    box-shadow: 2px 15px 20px 5px rgba(0, 0, 0, 0.25);
    z-index: 99;
    height: 100px;
}

.navbar ul{
    color: rgb(255, 255, 255);
    float: right;
    list-style: none;
    padding: 0px;
    margin-right: 169px;  
   
  
    
}

.navbar ul li{
    display: inline-block;
    margin-left: 100px;
    font-size: 24px;
    margin-top: 0px;
    
}

.hero{
    font-family: Mulish, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: calc(100vh-50px);
    text-align: center;
}

.container h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    color: #B4BEDB(255, 255, 255);
}

.verticalCenter{
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translateY(180%);
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}
.intro{
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translateY(920%);
    color: #B4BEDB;
    text-transform: inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}

.h1{
  

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linkovi{
    position: fixed;
    bottom: 90px;
    transform: translateX(230%);
}

.slika{
    position: relative;
    width: 100%;
    height: calc(100vh+100px);
    text-align: center; 
}
.button{
   
    width: 100%;
    margin-top: 50px;
    
}

.button a 

{
    height: calc(100vh+30px);
    text-align: center; 
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover
{
    color: #3A435C;
    background: #B4BEDB ;
    box-shadow: 0 0 10px #B4BEDB, 0 0 40px #B4BEDB, 0 0 80px #B4BEDB;
    transition-delay: 1s;
}

a span
{
position: absolute;
display: block;
}

a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#B4BEDB);
}

a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}

a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#B4BEDB);
}

a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#B4BEDB);
}
a:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#B4BEDB);
}
a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.button1 a
    {
    
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #B4BEDB;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }
    a:hover
    {
        color: #3A435C;
        background: #B4BEDB ;
        box-shadow: 0 0 10px #B4BEDB, 0 0 40px #B4BEDB, 0 0 80px #B4BEDB;
        transition-delay: 1s;
    }
    a span
    {
    position: absolute;
    display: block;
    }
    a span:nth-child(1)
    {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(1)
    {
        left: 100%;
        transition: 1s;
    }
    a span:nth-child(3)
    {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(3)
    {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    a span:nth-child(2)
    {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(2)
    {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    a span:nth-child(4)
    {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(4)
    {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }

    .footer{
        margin-top: 150px;
        margin-bottom: 85px;
    }

    .contact{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}  
.text{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}

.mail{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    font-weight: 1000;
}
.project_container{
    width: 100%;
    text-align: center;
}
.projects{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}    
.box{
    width: 230px;
    margin: 0 20px;
}


.novpr{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.name{
    margin-bottom: 50px;
    font-family: Mulish;
    font-size: 50px;
    line-height: 54px;
    color: #B4BEDB;
}
.separation-line{
    width: 100px;
    height: 2px;
    margin-bottom: 50px;
    background-color: #B4BEDB;
}
.textdescription{
    font-family: Mulish;
    color: #B4BEDB;
    font-size: 24px;
}
.div11{
    text-align: center;
    margin: 100px 0 0 30px;
}
.div22{
    text-align: center;
    margin: 50px 0;
}
.div33{
    text-align: center;
    margin: 0 0 0 160px;
}
.div44{
    text-align: center;
    margin: 125px 0;
}
.name{
    color: white;
    font-size: 28px;
}
.mail{
    color: white;
}
.title{
    margin: 150px auto;
    text-align: center;
    max-width: 1050px;
    width: 100%;
    font-size: 28px;
}
.naslov{
max-width: 1050px;
margin-top: 150px ;
width: 100%;

}
.process{
    max-width: 1050px;
    margin: 0 auto;
    border: 2px solid #B4BEDB;
    border-radius: 10px;
    width: 165px;
    height: 55px;
    color: #B4BEDB;
    float: left;

}
.methods{
    text-align: center;
    margin: 13px 0 15px 0;
}
.naslov{
    max-width: 1050px;
    width: 100%;
    margin: 50px auto;
}

.slika1{
    max-width: 1050px;
    width: 100%;
    
}
.slika4{
    margin: 0 0 0 43px;
}
.slika3{
    margin: 0 0 0 43px;
}
.slika2{
    margin: 0 0 0 43px;
}
.swot{
    max-width: 1050px;
    margin: 0 auto;
    
    border: 2px solid #B4BEDB;
    border-radius: 10px;
    width: 506px;
    height: 228px;
    color: #B4BEDB;
    float: left;
    
}
.SWOT{
    margin: 38px 320px 158px 40px;








@media screen and (max-width: 900px) {
    .button1{
       float: none;
       text-align: center;
       width: 100%;
       font-size: 19px;
       padding: 10px 20px;
     
    }
  
    .verticalCenter{
        font-size: 19px;
        
    }
    .body{
        font-size: 16px;
    }
    .navbar{
        text-align: center;
        
    }
    .text, .contact, .mail{
        max-width: 400px;
        font-size: 16px;
    }
    .button a{
        font-size: 19px;
        padding: 10px 20px;
    }
    .footer{
        margin-top: 100px;
    }
    .navbar ul li{
        font-size: 19px;
        padding: 10px 20px;
    }
}