body{
    background-color: #3A435C;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
   
}

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    background: #3A435C;
    box-shadow: 2px 15px 20px 5px rgba(0, 0, 0, 0.25);
    z-index: 99;
}

.navbar ul{
    color: rgb(255, 255, 255);
    float: right;
    list-style: none;
    padding: 0px;
    margin-right: 169px;   
    
}

.navbar ul li{
    display: inline-block;
    margin-left: 100px;
    font-size: 24px;
    
}

.hero{
    font-family: Mulish, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: calc(100vh-50px);
    text-align: center;
}

.container h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    color: #B4BEDB(255, 255, 255);
}

.verticalCenter{
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translateY(200%);
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}

.h1{
  

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linkovi{
    position: fixed;
    bottom: 90px;
    transform: translateX(230%);
}

.slika{
    position: relative;
    width: 100%;
    height: calc(100vh+100px);
    text-align: center; 
}
.button{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    
}

.button a 

{
    height: calc(100vh+30px);
    text-align: center; 
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover
{
    color: #3A435C;
    background: #B4BEDB ;
    box-shadow: 0 0 10px #B4BEDB, 0 0 40px #B4BEDB, 0 0 80px #B4BEDB;
    transition-delay: 1s;
}

a span
{
position: absolute;
display: block;
}

a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#B4BEDB);
}

a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}

a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#B4BEDB);
}

a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#B4BEDB);
}
a:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#B4BEDB);
}
a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.button1 a
    {
    
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #B4BEDB;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }
    a:hover
    {
        color: #3A435C;
        background: #B4BEDB ;
        box-shadow: 0 0 10px #B4BEDB, 0 0 40px #B4BEDB, 0 0 80px #B4BEDB;
        transition-delay: 1s;
    }
    a span
    {
    position: absolute;
    display: block;
    }
    a span:nth-child(1)
    {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(1)
    {
        left: 100%;
        transition: 1s;
    }
    a span:nth-child(3)
    {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(3)
    {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    a span:nth-child(2)
    {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(2)
    {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    a span:nth-child(4)
    {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#B4BEDB);
    }
    a:hover span:nth-child(4)
    {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }

    .footer{
        margin-top: 150px;
        margin-bottom: 85px;
    }

    .contact{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}  
.text{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}

.mail{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    color: #B4BEDB;
    text-transform:inherit;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    font-weight: 1000;
}