*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A435C;
}
.carousel{
    position: relative;
    height: 800px;
    perspective: 500px;
}
.carousel .carousel-item{
    width: 250px;
    height: 200px;
}
.carousel .carousel-item img{
    max-width: 250px;
}

